@import "tailwindcss";

@plugin "@iconify/tailwind4" {
  prefixes: fa7-brands, fa7-regular, fa7-solid;
}

/* @custom-variant icon {
  @slot;

  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
} */

@layer theme {
  :root {
    --spacing: 1px;
  }

  html,
  body {
    background-color: #fff;
  }

  @media (prefers-color-scheme: dark) {
    html,
    body {
      background-color: oklch(0.05 0.02 240);
    }
  }
}

@layer components {
  @variant hover {
    :is(:any-link):hover {
      text-decoration: underline;
    }
  }

  :is(p) {
    margin-block: .5rem;
  }
}
