@import "tailwindcss";

@plugin "@iconify/tailwind4" {
  prefixes: fa7-brands, fa7-regular, fa7-solid;
}

@layer theme {
  :root {
    --spacing: 1px;
  }

  html,
  body {
    background-color: #fff;
  }

  @media (prefers-color-scheme: dark) {
    html,
    body {
      background-color: oklch(0.05 0.02 240);
    }
  }
}

@layer components {
  @media (any-hover: hover) {
    :is(:any-link):hover {
      text-decoration: underline;
    }
  }

  :is(p) {
    margin-block: .5rem;
  }
}
